<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>

  <body>
    <img src='http://3.bp.blogspot.com/-V5rXmZdlkks/V3XcQ5FA3wI/AAAAAAAAFPg/rKEvbRSim9YySSxZ0rvsIfA4ge72E1UzwCK4B/s1600/TM%2Bvector%2Blogo.png' alt="TM Logo" id="logo">
    <ul>
      <li><%= link_to 'User Guide', root_url, class:"btn" %></li>
      <li><%= link_to 'Get Quotation', quote_path, class:"btn" %></li>
      <li><%= link_to 'Location List', location_path, class:"btn" %></li>
      <li><%= link_to 'SLG Design', slg_path, class:"btn" %></li>
      <li><%= link_to 'Additional Information', addinfo_path, class:"btn" %></li>
    </ul>
    <%= yield %>
    <br/><br/><footer class="footer">
      <p>This website is still in development</p>
    </footer>
  </body>
</html>
